@import url("base.css");
.Container {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.Container a {
    text-decoration: none;
    color: white;
}

.Card a p {
    overflow: hidden;
}

.Card a h3 {
    overflow: hidden;
}

.Card {
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    display: block;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 5px;
    height: 255px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.CardImg {
    border-radius: 5px;
    width: 320px;
    height: 180px;
    margin: 0px
}